<% content_for :page_title do %>
  <%= link_to Spree.t(:reports), spree.admin_reports_url %> /
  <%= "Export to QuickBooks" %>
<% end %>

<a class="btn btn-primary pull-right" href="<%= export_to_quickbooks_admin_reports_path %>.csv">Export to CSV</a>
<div class="clearfix"></div>
<br>

<table class="table table-bordered admin-report" data-hook="export_to_quickbooks">
  <thead>
    <tr>
      <th><%= "Product/Service Name" %></th>
      <th><%= "SKU" %></th>
      <th><%= "Type" %></th>
      <th><%= "Inventory" %></th>
      <th><%= "Sales Price/Rate" %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <% product.variants.each do |variant| %>
        <tr>
          <td><%= "#{variant.name} (#{variant.options_name})" %></td>
          <td><%= variant.sku %></td>
          <td><%= variant.tax_category.try(:name) %></td>
          <td><%= variant.total_on_hand %></td>
          <td><%= humanized_money_with_symbol variant.price %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
